<mat-toolbar color="primary">
    <mat-toolbar-row class="topoGeral">
        <!-- <mat-icon class="icon" aria-hidden="false" aria-label="Menu">menu</mat-icon> -->

        <img class="logoTopo" src="../../../../assets/FinanceiroPreto.png" width="200">

        <span class="TextoTopo">Sistema de Gestão Financeira</span>

        <div class="icones">
            <mat-icon class="icon" aria-hidden="false" aria-label="Settings">settings</mat-icon>
            <mat-icon class="notification" aria-hidden="false" aria-label="notifications_active">notifications_active</mat-icon>
            <span class="login">Harrisson Dutra</span>
        </div>


    </mat-toolbar-row>
</mat-toolbar>