.icon {
  padding: 0 14px;
}


.logoTopo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.TextoTopo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}

.icones{

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon{
padding-left: 5px;
}

.notification{
  margin-right: 15px;

}

.topoGeral{
  display: flex;
  justify-content: space-between;
}
.login{
  display: flex;
  justify-content: flex-end;
}


